<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/eventFormStyle.css">
    <title>event registeration form</title>


</head>
<body>

<!--navbar-->

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="css/exlogotest3.png"  alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <li class="navlist1"><a class="navlist2" th:href="@{/org-page}">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/event-register}"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/org-profile}"><i class="fa-solid fa-user-tie"></i></a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/sign-out}" data-bs-toggle="modal" data-bs-target="#exampleModal">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>
                            <li><a style="color: white">Events</a>
                                <ul>
                                    <li><a href="/org-ongoing">Ongoing</a></li>
                                    <li><a href="/org-future">Future</a></li>
                                    <li><a href="/org-sale-record">Sale Record</a></li>
                                </ul>
                            </li>
                            <li><a  href="/org-help">Help</a></li>
                            <li><a  href="/org-about">About</a></li>
                            <li><a  href="/org-faq">FAQ</a></li>
                            <li><a  href="/org-contact">Contact</a></li>
                            <li><a  href="/org-term">Terms and Conditions</a></li>
                            <li><a  href="/org-privacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--        nav-bar end         -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log-Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5 style="color: rgb(127, 209, 131);">Are you sure want to log out !</h5>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;" aria-label="Close">No</button>
                <span>
                    <a href="/sign-out">
                        <button type="submit" class="btn btn-success col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;">Yes</button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<!--event form-->
<div class="container">
    <div class="event-div col-md-6 mx-auto">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h4>Event Registration Form</h4>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="input-box mb-3">
                        <label for="eventName" class="form-label">Event Name</label>
                        <input type="text" class="form-control" id="eventName" name="eventName" placeholder="Enter event name" required>
                    </div>

                    <div class="input-box mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" name="date" placeholder="dd-mm-yyyy" required>
                    </div>


                    <div class="input-box mb-3" style="width:49%;display:inline-block">
                        <label for="startTime" class="form-label">Start Time</label>
                        <input type="time" class="form-control" id="startTime" name="startTime" placeholder="Enter event start time" required>
                    </div>

                    <div class="input-box mb-3" style="width:49%;display:inline-block">
                        <label for="endTime" class="form-label">End Time</label>
                        <input type="time" class="form-control" id="endTime" name="endTime" placeholder="Enter event end time" required>
                    </div>


                    <div class="input-box mb-3">
                        <label for="venue" class="form-label">Place</label>
                        <input type="text" class="form-control" id="venue" name="venue" placeholder="Enter event place" required>
                    </div>

                  <div class="input-box mb-3">
                        <label for="artist1234" class="form-label">Choose Artists</label>
                        <div style="padding:5px;padding-left:0">  <input type="text" id="searchInput" placeholder="Search..."></div>
                        <select  th:field="*{artists}" class="form-control" size="5" name="existArtist" id="artist1234" multiple>
                            <option th:each="option : ${artists}"
                                    th:value="${option.artistName}"
                                    th:text="${option.artistName}">
                            </option>
                        </select>
                        <button type="button" class="btn btn-primary  btn-sm" id="clear-all-btn" style="margin: 10px; margin-bottom: 30px;float: right">Clear All</button>
                    </div>



                    <div class="input-box mb-3" style="border:1px solid rgb(164, 164, 182);border-radius:10px;padding:15px; margin-top: 40px">
                    <label for="artist1" class="form-label">Add More Artists</label><br>
                    <input type="text" id="artist1" name="artist" placeholder="Enter Artist Name">
                    <div id="artist-fields"  style="padding-left:0;padding-right:200px;margin-bottom:20px" ></div>
                    <button type="button" id="add-artist" >+</button>
                </div>


                    <div class="input-box mb-3">
                        <label for="eventPhoto" class="form-label">Event Photo</label>
                        <input type="file" class="form-control" id="eventPhoto" name="photo" required accept="image/*">
                    </div>

                    <div class="ticket-box">
                        <h5>Ticket Type</h5>
                        <div class="ticket-type">
                            <div class="ticket form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="Standard" id="standard" name="ticketType" onclick="showStandard()">
                                <label class="form-check-label" for="standard" >
                                    Standard
                                </label>
                            </div>
                            <div class="ticket form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="VIP" id="vip" name="ticketType" onclick="showVip()">
                                <label class="form-check-label" for="vip">
                                    VIP
                                </label>
                            </div>

                            <div class="ticket form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="VVIP" id="vvip" name="ticketType" onclick="showVvip()">
                                <label class="form-check-label" for="vvip">
                                    VVIP
                                </label>
                            </div>
                        </div>
                    </div>


                    <div id="standard-check" style="display:none">
                        <div class="input-box mb-3" >
                            <label for="standardPrice" class="form-label">Standard Ticket Price</label>
                            <input type="number" min="0" class="form-control" id="standardPrice" name="standardTicketPrice" placeholder="Enter standard ticket price in kyats" value="0" required>

                        </div>
                        <div class="input-box mb-3">
                            <label for="standardTicketLimit" class="form-label">Standard Ticket Limit</label>
                            <input type="number" min="0" class="form-control" id="standardTicketLimit" name="standardTicketQuantity" placeholder="Enter standard ticket limit" value="0" required>
                        </div>
                    </div>

                    <div id="vip-check" style="display:none">
                        <div class="input-box mb-3">
                            <label for="vipPrice" class="form-label">VIP Ticket Price</label>
                            <input type="number" min="0" class="form-control" id="vipPrice" name="vipTicketPrice" placeholder="Enter VIP ticket price in kyats" value="0" required>

                        </div>
                        <div class="input-box mb-3">
                            <label for="vipTicketLimit" class="form-label">VIP Ticket Limit</label>
                            <input type="number" min="0" class="form-control" id="vipTicketLimit" name="vipTicketQuantity" placeholder="Enter VIP ticket limit" value="0" required>
                        </div>
                    </div>
                    <div id="vvip-check" style="display:none">
                        <div class="input-box mb-3" >
                            <label for="vvipPrice" class="form-label">VVIP Ticket Price</label>
                            <input type="number" min="0" class="form-control" id="vvipPrice" name="vvipTicketPrice" placeholder="Enter VVIP ticket price in kyats" value="0" required>

                        </div>
                        <div class="input-box mb-3">
                            <label for="vvipTicketLimit" class="form-label">VVIP Ticket Limit</label>
                            <input type="number" min="0" class="form-control" id="vvipTicketLimit" name="vvipTicketQuantity" placeholder="Enter VVIP ticket limit" value="0" required>
                        </div>
                    </div>
                    <div class="promotion-box form-check mb-3">
                        <input class="form-check-input" type="checkbox"  id="promotion-check"  onclick="showPromotion()">
                        <label class="form-check-label" for="promotion-check" >
                            Please check this if your event has promotion for ticket buyers.
                        </label>
                    </div>

                    <div id="promotion-info" style="display:none">
                        <div class="input-box mb-3">
                            <label for="promotion" class="form-label">Promotion</label>
                            <input type="number" min="0" max="100" class="form-control" id="promotion" name="promotion" placeholder="Enter promotion in %" value="0">
                        </div>
                    </div>

                    <div class="payment-box">
                        <h5>Payment Method</h5>
                        <div class="payment-type">
                            <div class="payment form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="Wavepay" id="wavepay" name="paymentMethod" onclick="showWavepay()">
                                <label class="form-check-label" for="wavepay" >
                                    Wavepay
                                </label>
                            </div>
                            <div class="payment form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="Kpay" id="kpay" name="paymentMethod" onclick="showKpay()">
                                <label class="form-check-label" for="kpay">
                                    Kpay
                                </label>
                            </div>

                        </div>
                    </div>

                    <div id="wavepay-check" style="display:none">
                        <div class="input-box mb-3" >
                            <label for="wavepayQR" class="form-label">Wavepay QR Image</label>
                            <input type="file" class="form-control" id="wavepayQR" name="wavepayQr" accept="image/*">
                        </div>
                    </div>

                    <div id="kpay-check" style="display:none">
                        <div class="input-box mb-3" >
                            <label for="kpayQR" class="form-label">Kpay QR Image</label>
                            <input type="file" class="form-control" id="kpayQR" name="kpayQr" accept="image/*">
                        </div>
                    </div>

                    <div class="input-box form-floating mb-3">
                        <textarea class="form-control"  id="eventDescription" name="eventDescription" style="height:150px"></textarea>
                        <label for="eventDescription">Event Description</label>
                    </div>
                    <div class="input-box mb-3">
                        <label for="status" class="form-label"></label>
                        <input type="hidden" class="form-control" id="status" name="status" value="0">
                    </div>
                    <div class="input-box mb-3">
                        <label for="requestTime" class="form-label"></label>
                        <input type="datetime-local" class="form-control" id="requestTime" name="requestTime" th:value="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss')}" hidden>
                    </div>

                    <div class="form-btn" style="float:right; margin-bottom:60px;">
                        <button type="reset" class="btn btn-primary" id="resetbtn">Clear</button>
                        <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p >ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/org-about">About</a></li>
                <li><a href="/org-faq">FAQ</a></li>
                <li><a href="/org-contact">Contact</a></li>
                <li><a href="/org-term">Terms and Conditions</a></li>
                <li><a href="/org-privacyPolicy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var mySelect=document.getElementById("artist1234");
    var searchInput=document.getElementById("searchInput");

    searchInput.addEventListener("keyup", function(event){
        var searchText=event.target.value.toLowerCase();
        var options=mySelect.options;
        for (let i=0; i<options.length;i++){
            var optionText= options[i].text.toLowerCase();
            if(optionText.includes(searchText)){
                options[i].style.display= "block";
            }
            else{
                options[i].style.display = "none";
            }
        }
    });




    $(document).ready(function(){
        $('#artist1234').mousedown(function(e){
            e.preventDefault();
            var originalScrollTop = $(this).scrollTop();
            $(this).focus();
            var mouseDownY=e.pageY;
            var $this = $(this);
            var lastSelected=null;

            $this.children('option').each(function(){
                var thisPos=$(this).offset().top - originalScrollTop;
                var topPos = thisPos + $this.scrollTop();
                var bottomPos = topPos + $(this).outerHeight();

                if(mouseDownY >= topPos && mouseDownY <= bottomPos){
                    if(e.shiftKey && lastSelected){
                        var start = $this.children('option').index(lastSelected);
                        var end=$this.children('option').index(this);

                        $this.children('option').slice(Math.min(start, end), Math.max(start, end)+1).prop('selected', true);

                    }
                    else{
                        $(this).prop('selected', !$(this).prop('selected'));
                        lastSelected = this;
                    }
                }
            })
        })
    });







    function showStandard(){
        var standard=document.getElementById("standard");
        var standardP=document.getElementById("standard-check");
        if(standard.checked == true){
            standardP.style.display="block";}
        else{
            standardP.style.display="none";
        }
    }

    function showVip(){
        var vip=document.getElementById("vip");
        var vipP=document.getElementById("vip-check");
        if(vip.checked == true){
            vipP.style.display="block";}
        else{
            vipP.style.display="none";
        }
    }

    function showVvip(){
        var vvip=document.getElementById("vvip");
        var vvipP=document.getElementById("vvip-check");
        if(vvip.checked == true){
            vvipP.style.display="block";}
        else{
            vvipP.style.display="none";
        }
    }

    function showPromotion(){
        var promo=document.getElementById("promotion-check");
        var promoInfo=document.getElementById("promotion-info");
        if(promo.checked == true){
            promoInfo.style.display="block";}
        else{
            promoInfo.style.display="none";
        }
    }

    function showWavepay(){
        var wavepay=document.getElementById("wavepay");
        var wavepayCheck=document.getElementById("wavepay-check");
        if(wavepay.checked == true){
            wavepayCheck.style.display="block";}
        else{
            wavepayCheck.style.display="none";
        }
    }

    function showKpay(){
        var kpay=document.getElementById("kpay");
        var kpayCheck=document.getElementById("kpay-check");
        if(kpay.checked == true){
            kpayCheck.style.display="block";}
        else{
            kpayCheck.style.display="none";
        }
    }

    const addArtistButton = document.getElementById("add-artist");
    const artistFields = document.getElementById("artist-fields");
    const artist = [];

    addArtistButton.addEventListener("click", () => {
        const artistNumber = artist.length + 1;
    const artistInput = document.createElement("input");
    artistInput.type= "text";
    artistInput.id='artist${artistNumber}';
    artistInput.name="artist";
    artistInput.required=true;
    artistInput.placeholder="Enter Artist Name";
    artistFields.appendChild(artistInput);
    artists.push(artistInput);
    });

    var selectEl=document.getElementById('existArtist');
    var clearBtnEl= document.getElementById('clear-all-btn');

    clearBtnEl.addEventListener('click',()=>{
        var options=selectEl.option;
        for(let i=0; i<options.length; i++){
            options[i].selected=false;
        }
    });

</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>