<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/eventdetail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">

    <title>Event Details</title>

</head>
<body>
<!--navbar-->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="css/exlogotest3.png"  alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
              <!--  <li class="navlist1">
                    <form th:action="@{/user-search-page}" method="get" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="eventName">
                        <button class="btn btn-light" type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>  -->
                <li class="navlist1"><a class="navlist2" th:href="@{/user-page}">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/user-profile}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/sign-out}" data-bs-toggle="modal" data-bs-target="#exampleModal">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>
                            <li><a class="text:white">Events</a>
                                <ul>
                                    <li><a href="/user-trending">Trending</a></li>
                                    <li><a href="/user-all-event">Events</a></li>
                                    <li><a href="/user-promotion">Promotion</a></li>
                                    <li><a href="/user-watch-later">Watch Later</a></li>
                                    <li><a href="/user-history">History</a></li>
                                </ul>
                            </li>
                            <li><a  href="/user-about">About</a></li>
                            <li><a  href="/user-faq">FAQ</a></li>
                            <li><a  href="/user-contact">Contact</a></li>
                            <li><a  href="/user-term">Terms and Conditions</a></li>
                            <li><a  href="/user-privacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log-Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5 style="color: rgb(127, 209, 131);">Are you sure want to log out !</h5>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;" aria-label="Close">No</button>
                <span>
                    <a href="/sign-out">
                        <button type="submit" class="btn btn-success col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;">Yes</button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>


<!-- event details -->
<!-- <div id="detail-container" class="container mx-auto" style="border:1px solid;  border-radius:20px;margin:20px;margin-top:80px;margin-bottom:80px;background-color:black;color:#fff;box-shadow: 2px 2px 15px #39FF14 inset;"> -->


    <div class="row" id="event-row">
        <div class="col" id="col1" >
            <div class="container mx-auto">
                <div style="text-align:center;margin-top:40px;"> <img th:src="@{'data:image/jpeg;base64,' + ${eventDetails.encodedPhoto}}" width="350" height="200" ></div>
                <div class="text1" style=" font-family:Lucida Sans; color:#fff">

                    <div th:if="${watchLater}!=1">
                    <form th:action="@{/watch-later-add(eventId=${eventDetails.id})}" method="post">
                        <button type="submit" class="watch-later-button" style="padding:8px;float:right;border:1px solid;border-radius:10px">
                            <span style="text-decoration: none">Watch-Later</span> <i class="fa-solid fa-square-plus"></i>
                        </button>
                    </form>
                    </div>

                    <p style="font-weight:bold; font-size:30px;font-family:cursive" th:text="${eventDetails.eventName}">

                    </p>
                    <p style="display:inline">List of Artists:</p> <span th:each="artist : ${artists}" th:text="${artist.artistName} + ' '"></span>
                    </p>

                    <p> Event Time : <span th:text="${eventTime}"></span></p>
                    <p> Event Date : <span th:text="${eventDetails.date}"></span></p>
                    <p> Event Place : <span th:text="${eventDetails.venue}"></span></p>
                    <p> Event Description : <span th:text="${eventDetails.eventDescription}" style="height:150px"></span></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container mx-auto">
                <div  id="col2" >
                    <div id="col2-text" style=" font-family:Lucida Sans; color:#fff;">
                        <div class="row" style="padding:20px;padding-left:0">
                            <div class="col">
                                <p style="display:inline">Available Ticket Types</p>
                            </div>
                            <div class="col" style="padding-left:45px" >
                                <span th:if="${eventDetails.standardTicketQuantity > 0}" >Standard </span>
                                <span th:if="${eventDetails.vipTicketQuantity > 0}" > VIP </span>
                                <span th:if="${eventDetails.vvipTicketQuantity > 0}" > VVIP</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" th:if="${eventDetails.standardTicketQuantity > 0}">
                                <p >Standard Ticket Price</p>
                            </div>
                            <div class="col">
                                <p  th:text="${eventDetails.standardTicketPrice+ ' MMK'}"></p>
                            </div>
                        </div>
                        <div class="row" th:if="${eventDetails.vipTicketQuantity > 0}">
                            <div class="col">
                                <p >VIP Ticket Price </p>
                            </div>
                            <div class="col" >
                                <p  th:text="${eventDetails.vipTicketPrice+ ' MMK'}"></p>
                            </div>
                        </div>
                        <div class="row" th:if="${eventDetails.vvipTicketQuantity > 0}">
                            <div class="col">
                                <p >VVIP Ticket Price </p>
                            </div>
                            <div class="col">
                                <p  th:text="${eventDetails.vvipTicketPrice+ ' MMK'}"></p>

                            </div>
                        </div>
                        <div class="row" th:if="${eventDetails.promotion > 0}">
                            <div class="col">
                                <p >Promotion </p>
                            </div>
                            <div class="col">
                                <p  th:text="${eventDetails.promotion} + ' %'"></p>
                            </div>
                        </div>

                        <!-- ask user which ticket to buy -->
                    <form th:action="@{/order-payment}" method="post" >
                        <div class="input-box mb-3">
                            <input type="hidden" name="userId" th:value="${userId}" >

                        </div>

                        <div class="input-box mb-3">
                            <input type="hidden" name="eventId" th:value="${eventDetails.id}" >
                        </div>


                        <div th:if="${eventDetails.standardTicketQuantity > 0}" class="input-box mb-3" >
                            <label for="standardTicketQuantity" class="form-label">Standard Ticket Quantity</label>
                            <input type="number" min="0" max="5" class="form-control" id="standardTicketQuantity"  th:if="${eventDetails.standardTicketQuantity > 0}"  name="standardTicketSold" placeholder="How many standard tickets you want to buy?" required>
                            <div th:if="${eventDetails.standardTicketAvailableQuantity}==0" class="alert alert-danger" role="alert" th:text="'Standard ticket is currently out of stock.'" value="0">
                            </div>
                        </div>

                        <div th:if="${eventDetails.vipTicketQuantity > 0}" class="input-box mb-3">
                            <label for="vipTicketQuantity" class="form-label">VIP Ticket Quantity</label>
                            <input type="number" min="0" max="5" class="form-control" id="vipTicketQuantity"  th:if="${eventDetails.vipTicketQuantity > 0}" name="vipTicketSold" placeholder="How many VIP tickets you want to buy?" required>
                            <div th:if="${eventDetails.vipTicketAvailableQuantity}==0" class="alert alert-danger" role="alert" th:text="'VIP ticket is currently out of stock.'" value="0">
                            </div>
                        </div>

                        <div th:if="${eventDetails.vvipTicketQuantity > 0}" class="input-box mb-3">
                            <label for="vvipTicketQuantity" class="form-label">VVIP Ticket Quantity</label>
                            <input type="number" min="0" max="5" class="form-control" id="vvipTicketQuantity"  th:if="${eventDetails.vvipTicketQuantity > 0}" name="vvipTicketSold" placeholder="How many VVIP tickets you want to buy?" required>
                            <div th:if="${eventDetails.vvipTicketAvailableQuantity}==0" class="alert alert-danger" role="alert" th:text="'VVIP ticket is currently out of stock.'" value="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-5" for="status"></label>
                            <div class="col-xs-3">
                                <input type="hidden" class="form-control" id="status"  name="status" value="0">
                            </div>
                        </div>
                        <div style="text-align:center">
                            <button type="reset" data-label="Register" class="rainbow-hover"><span class="sp">Cancel</span></button>
                            <button type="submit" data-label="Register" class="rainbow-hover">
                                <a style="text-decoration:none;color:#fff"><span class="sp">Purchase</span></a>
                            </button>
                        </div>

                    </form>



                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- footer -->
    <footer>
        <div class="footer-content">

            <img src="css/exlogotest3.png"  alt="logo">
            <p>ENTRANCEX</p>


            <ul class="social">
                <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


            </ul>



            <div class="footer-menu">
                <ul class="f-menu">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/faq}">FAQ</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:href="@{/termsandconditions}">Terms and Conditions</a></li>
                    <li><a th:href="@{/privacypolicy}">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-bottom">
                <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
            </div>
        </div>


    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>