<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/navfooter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <title>contact us</title>

    <style>
        body{
            background: linear-gradient(to left, #46c8ce, #2da3ff, blue);

        }

        @media (max-width:979px){
            #title{
                padding-top:60px;
                padding-bottom:40px;
            }
        }

        .nav-item a:hover{
            border-bottom: 1px solid white;
        }


    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="css/exlogotest3.png"  alt=""> Entrance-X</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
              <!--  <li class="navlist1">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light" type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>  -->
                <li class="navlist1"><a class="navlist2" href="/">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/login}">LogIn</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/user-signup}">SIGN-UP</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>

                            <li><a class="text:white">Events
                            </a>
                                <ul>
                                    <li><a href="/main-trending">Trending</a></li>
                                    <li><a href="/main-this-month">This month</a></li>
                                    <li><a href="/main-upcoming">Upcoming</a></li>
                                    <li><a href="/main-promotion">Promotion</a></li>
                                </ul>
                            </li>
                            <li><a  th:href="@{/user-signup}">Sign-Up</a></li>
                            <li><a  th:href="@{/login}">Log-In</a></li>
                            <li><a  href="/about">About</a></li>
                            <li><a  href="/contact">Contact</a></li>
                            <li><a  href="/termsandconditions">Terms and Conditions</a></li>
                            <li><a  href="/privacypolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="title" class="py-md-5" style="text-align:center;color:#ffffff"><h5  style="padding-top:70px">We are here for you!</h5>
    <h6>Everyday: 7AM - 10pm MMT </h6></div>
<div class="py-md-3">
    <div class="card text-center mb-3 mx-auto py-md-4" style="width: 270px; background-color:azure">
        <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-phone" style="font-size:35px; padding:8px;color:rgb(36, 131, 98); padding-bottom:20px"></i></h5>
            <p class="card-text" style="text-align:center">If you wanna talk, just call us at <span style="color:rgb(36, 131, 98);font-weight:bold">+959 39739743</span>!</p>

        </div>
    </div>
</div>
</div>


<div class="py-md-3">
    <div class="card text-center mb-3 mx-auto py-md-4" style="width: 270px; background-color:azure">
        <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-envelope" style="font-size:35px; padding:8px;color:rgb(36, 131, 98);padding-bottom:20px"></i></h5>
            <p class="card-text" style="text-align:center">Send us an email to <span style="color:rgb(36, 131, 98);font-weight:bold">entrancex@gmail.com</span>! We'll reply to you within one day. </p>

        </div>
    </div>
</div>
</div>

<div class="py-md-3">
    <div class="card text-center mb-3 mx-auto py-md-4" style="width: 270px; background-color:azure">
        <div class="card-body">
            <h5 class="card-title"><i class="fa-brands fa-facebook" style="font-size:35px; padding:8px;color:rgb(36, 131, 98);padding-bottom:20px"></i></h5>
            <p class="card-text" style="text-align:center">Our facebook page is <a href="" style="color:rgb(36, 131, 98); text-decoration:none; font-weight:bold">EntranceX</a>. Chat with us through the facebook messenger!</p>

        </div>
    </div>
</div>
</div>

<div class="py-md-3">
    <div class="card text-center mb-3 mx-auto py-md-4" style="width: 270px; background-color:azure">
        <div class="card-body">
            <h5 class="card-title"><i class="fa-brands fa-square-instagram" style="font-size:35px; padding:8px;color:rgb(36, 131, 98);padding-bottom:20px"></i></h5>
            <p class="card-text" style="text-align:center">Our instagram page is <a href="" style="color:rgb(36, 131, 98); text-decoration:none; font-weight:bold">EntranceX</a>. Chat with us through DM!</p>

        </div>
    </div>
</div>
</div>

<div class="py-md-3" style="margin-bottom:100px" >
    <div class="card text-center mb-3 mx-auto py-md-4" style="width: 270px; background-color:azure">
        <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-house" style="font-size:35px;padding:8px;color:rgb(36, 131, 98);padding-bottom:20px"></i></h5>
            <p class="card-text" style="text-align:center">Meet us at:<br><span style="color:rgb(36, 131, 98);font-weight:bold">18/123, Hleden, Yangon</span> </p>

        </div>
    </div>
</div>
</div>

<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/termsandconditions">Terms and Conditions</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>