<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/navfooter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">


    <title>help</title>

    <style>
        @media (max-width:979px){
            #faq{
                padding-top:50px;
            }

            #contactBtn{
                margin-top:50px;
                margin-bottom:80px;
            }
        }

        .nav-item a:hover{
            border-bottom: 1px solid white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="" width="30px" height="30px" alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <li class="navlist1"><a class="navlist2" href="">HOME</a></li>
                <li class="navlist1"><a class="navlist2" href="">SIGN IN</a></li>
                <li class="navlist1"><a class="navlist2" href="">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">EXPLORE </button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>
                            <li ><a href="">User</a>
                                <ul>
                                    <li><a href="">Watch Later</a></li>
                                    <li><a href="">History</a></li>
                                </ul>
                            </li>
                            <li><a href="">Organizer

                            </a>
                                <ul>
                                    <li><a href="">Sell</a></li>
                                    <li><a href="">Sale Record</a></li>
                                </ul>
                            </li>
                            <li><a href="">Events
                            </a>
                                <ul>
                                    <li><a href="">Trending</a></li>
                                    <li><a href="">This month</a></li>
                                    <li><a href="">Upcoming</a></li>
                                    <li><a href="">Promotion</a></li>
                                </ul>
                            </li>
                            <li><a  href="">Sign Up</a></li>
                            <li><a  href="">Sign Out</a></li>
                            <li><a  href="">About</a></li>
                            <li><a  href="">Contact</a></li>
                            <li><a  href="">Terms and Conditions</a></li>
                            <li><a  href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div id="faq" class="py-md-5">
        <h2 id="faqTitle" class="my-3 text-center" style="margin:10px;padding:35px" >FAQs</h2>

        <div class="container">
            <div class="accordion accordion-flush w-75 mx-auto" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            How do I buy tickets?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You need to sign in first to buy tickets. If you don't have your own account yet, you can register on our sign-up page. You can click any event you're interested in to see the event details. To buy your desired ticket, you need to fill in the form required.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            How do I sell tickets?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You need to first sign in or sign up if you don't have account yet. A form that you need to fill in to sell tickets will be given to you. We will approve, if the requirements are met, and notify you through email within one day.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            How many tickets can I buy at one time?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You can buy a maximum number of ... tickets at one time.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            What form of payment can I use?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You can use wavepay.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Is the ticket delivered to me?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You will get QR code after the ticket purchase is done and you need to show the code at the entrance of the event hall.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Can I cancel the purchase after the payment is done?
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">No. We don't allow cancellations after money has already been transfered.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                            How do I know if my request to sell the tickets for my event has been approved or not?
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">After you have filled the form to sell tickets, we will check the data and notify you through email if your request has been approved or not.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                            Is there a chance my request to sell tickets is rejected?
                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Yes. On the conditions that your data is found suspicious to be a fraud or there is another request for the same event that has arrived earlier than yours. If more than one request for the same event come at the same time, we will choose the one with the biggest ticket count to sell.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                            Are the ticket prices listed in Myanmar kyats?
                        </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Yes. As of now, we only accept Myanmar kyats for payment.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                            Are your services available for events outside the country as well?
                        </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Unfortunately, we provide our services only for events here in Myanamr.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEleven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                            If my event is cancelled or rescheduled, will I get a refund?
                        </button>
                    </h2>
                    <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Yes. If your event is cancelled or rescheduled for certain reasons, we will notify you through email and give you an option for refund.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwelve">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                            If I bought the wrong ticket by mistake, can I exchange them?
                        </button>
                    </h2>
                    <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">No. If you have already done the payment, you cannot cancel or exchange the ticket on our website.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="py-md-5 text-center" id="contactBtn" >
        <p>Want to make a custom inquiry?</p>
        <button type="button"  class="btn btn-info" style="margin-bottom:70px">Contact Us!</button>
    </div>
</div>

<footer>
    <div class="footer-content">

        <img src="" width="40px" height="40px" alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>