<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="css/ex.jpg" width="30px" height="30px" alt=""> Entrance-X</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <li class="navlist1">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light" type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
                <li class="navlist1"><a class="navlist2" href="/">HOME</a></li>
                <li class="navlist1"><a class="navlist2" href="/signIn">SIGN IN</a></li>
                <li class="navlist1"><a class="navlist2" href="/signUp">SIGN UP</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>

                            <li><a class="text:white">Events
                            </a>
                                <ul>
                                    <li><a href="/main-trending">Trending</a></li>
                                    <li><a href="/main-this-month">This month</a></li>
                                    <li><a href="/main-upcoming">Upcoming</a></li>
                                    <li><a href="/main-promotion">Promotion</a></li>
                                </ul>
                            </li>
                            <li><a  href="">Sign Up</a></li>
                            <li><a  href="">Sign Out</a></li>
                            <li><a  href="/about">About</a></li>
                            <li><a  href="/contact">Contact</a></li>
                            <li><a  href="/termsandconditions">Terms and Conditions</a></li>
                            <li><a  href="/privacypolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>