<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/custom.css">
    <style>
        @media (max-width:750px){
            #introTitle{
                padding-top:40px;

            }

            #title{

            }
        }

        .nav-item a:hover{
            border-bottom: 1px solid white;
        }
    </style>


    <title> User Main </title>


</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="" width="30px" height="30px" alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <li class="navlist1">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light" type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
                <li class="navlist1"><a class="navlist2" href="/user-page">HOME</a></li>
                <li class="navlist1"><a class="navlist2" href=""><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li class="navlist1"><a class="navlist2" href="/">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>
                            <li><a class="text:white">Events</a>
                                <ul>
                                    <li><a href="/user-trending">Trending</a></li>
                                    <li><a href="/user-this-month">This month</a></li>
                                    <li><a href="/user-upcoming">Upcoming</a></li>
                                    <li><a href="/user-promotion">Promotion</a></li>
                                    <li><a href="/user-watch-later">Watch Later</a></li>
                                    <li><a href="/user-history">History</a></li>
                                </ul>
                            </li>
                            <li><a  href="/user-about">About</a></li>
                            <li><a  href="/user-help">help</a></li>
                            <li><a  href="/user-contact">Contact</a></li>
                            <li><a  href="/user-term">Terms and Conditions</a></li>
                            <li><a  href="/user-privacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="wrapper">
    <!--         main page         -->
    <div class="container main-content">

        <!--        sliding photos      -->
        <div class="container" style="margin-bottom: 1rem;">
            <div id="carouselExample" class="carousel slide sliding-img" data-bs-ride="carousel" data-bs-interval="3500">
                <div class="carousel-inner rounded">
                    <div class="carousel-item active">
                        <img src="https://playtoearndiary.com/wp-content/uploads/2022/11/Picture1-5.png" class="d-block w-100 slide-img" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://edmnomad.com/wp-content/uploads/2020/06/tomorrowland.jpg" class="d-block w-100 slide-img" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.ytimg.com/vi/Y2pqEsoGNXk/maxresdefault.jpg" class="d-block w-100 slide-img" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

        <!--        Event Type          -->
        <table class="table" style="margin-top: 25px;">
            <thead>
            <tr>
                <th scope="col " class="event-type  table-dark">Trending Events</th>
            </tr>
            </thead>
        </table>


        <div class="container mt-5 event">
            <div class="row row-cols-1 row-cols-md-3">

                <!--                for 1 event                 -->
                <div class="col ">
                    <div class="card" style="width: 16rem; margin-top: 1rem; margin-bottom: 1rem;">
                        <img src="https://mosmedia.azureedge.net/cache/d/0/8/0/9/9/d08099b6c7bb968e9462c8db464b71ec6049da04.png"
                             class="card-img-top" width="150" height="250" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">

                                Event Title

                            </h5>
                            <p class="card-text">

                                Event Info

                            </p>
                            <a href="#" class="btn btn-primary">More Detail</a>
                        </div>

                    </div>
                </div>
                <!--                for 1 event                     -->


            </div>
        </div>
        <!--        Event Type          -->
        <table class="table" style="margin-top: 25px;">
            <thead>
            <tr>
                <th scope="col " class="event-type  table-dark">Upcoming</th>
            </tr>
            </thead>
        </table>


        <div class="container mt-5 event">
            <div class="row row-cols-1 row-cols-md-3">

                <!--                for 1 event                 -->
                <div class="col ">
                    <div class="card" style="width: 16rem; margin-top: 1rem; margin-bottom: 1rem;">
                        <img src="https://mosmedia.azureedge.net/cache/d/0/8/0/9/9/d08099b6c7bb968e9462c8db464b71ec6049da04.png"
                             class="card-img-top" width="150" height="250" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">

                                Event Title

                            </h5>
                            <p class="card-text">

                                Event Info

                            </p>
                            <a href="#" class="btn btn-primary">More Detail</a>
                        </div>

                    </div>
                </div>
                <!--                for 1 event                     -->


            </div>
        </div>
        <!--        Event Type          -->
        <table class="table" style="margin-top: 25px;">
            <thead>
            <tr>
                <th scope="col " class="event-type  table-dark">Promotion</th>
            </tr>
            </thead>
        </table>


        <div class="container mt-5 event">
            <div class="row row-cols-1 row-cols-md-3">

                <!--                for 1 event                 -->
                <div class="col ">
                    <div class="card" style="width: 16rem; margin-top: 1rem; margin-bottom: 1rem;">
                        <img src="https://mosmedia.azureedge.net/cache/d/0/8/0/9/9/d08099b6c7bb968e9462c8db464b71ec6049da04.png"
                             class="card-img-top" width="150" height="250" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">

                                Event Title

                            </h5>
                            <p class="card-text">

                                Event Info

                            </p>
                            <a href="#" class="btn btn-primary">More Detail</a>
                        </div>

                    </div>
                </div>
                <!--                for 1 event                     -->


            </div>
        </div>


    </div>

</div>
<!--            Footer            -->
<footer>
    <div class="footer-content">

        <img src="" width="40px" height="40px" alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/user-about">About</a></li>
                <li><a href="/user-help">Help</a></li>
                <li><a href="/user-contact">Contact</a></li>
                <li><a href="/user-term">Terms and Conditions</a></li>
                <li><a href="/user-privacyPolicy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>