<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/eventdetail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">

    <title>Event Details</title>

</head>
<body>
<!--navbar-->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/user-page}"><img src="css/exlogotest3.png"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <li class="navlist1" style="float: right"><button onclick="goBack()">Go Back</button></li>
            </ul>


<!--            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>-->
<!--            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">-->
<!--                <div class="offcanvas-header">-->
<!--                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>-->

<!--                </div>-->

<!--                <div class="offcanvas-body">-->
<!--                    <div class="container">-->
<!--                        <ul>-->

<!--                            <li><a href="">Events-->
<!--                            </a>-->
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/user-trending}">Trending</a></li>-->
<!--                                    <li><a th:href="@{/user-this-month}">This month</a></li>-->
<!--                                    <li><a th:href="@{/user-upcoming}">Upcoming</a></li>-->
<!--                                    <li><a th:href="@{/user-promotion}">Promotion</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a  th:href="@{/user-signup}">Sign Up</a></li>-->
<!--                            <li><a  th:href="@{/sign-out}">Sign Out</a></li>-->
<!--                            <li><a  th:href="@{/about}">About</a></li>-->
<!--                            <li><a  th:href="@{/faq}">FAQ</a></li>-->
<!--                            <li><a  th:href="@{/contact}">Contact</a></li>-->
<!--                            <li><a  th:href="@{/termsandconditions}">Terms and Conditions</a></li>-->
<!--                            <li><a  th:href="@{/privacypolicy}">Privacy Policy</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</nav>



<!-- <div id="detail-container" class="container mx-auto" style="border:1px solid;  border-radius:20px;margin:20px;margin-top:80px;margin-bottom:80px;background-color:black;color:#fff;box-shadow: 2px 2px 15px #39FF14 inset;"> -->


    <div class="row" id="event-row">
        <div class="col" id="col1" >
            <div class="container mx-auto">
                <div style="text-align:center;margin-top:40px;"> <img th:src="@{'data:image/jpeg;base64,' + ${eventDetails.encodedPhoto}}" width="350" height="200" ></div>
                <div class="text1" style=" font-family:Lucida Sans; color:#fff">

                    <p style="font-weight:bold; font-size:20px" th:text="${eventDetails.eventName}">
                      <div class="watch-later-icon"> Watch-Later <i class="fa-solid fa-square-plus" ></i> </div>
                    <div class="watch-later-icon"> Remove Watch-Later <i class="fa-solid fa-square-minus" style="display:none"></i></div>
                    </p>
                    <p th:text="${eventDetails.artist}"></p>
                    <p> from <span th:text="${eventTime}"></span></p>
                    <p th:text="${eventDetails.date}"></p>
                    <p th:text="${eventDetails.venue}"></p>
                    <p style="height:150px" th:text="${eventDetails.eventDescription}"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container mx-auto">
                <div  id="col2" >
                    <div id="col2-text" style=" font-family:Lucida Sans; color:#fff;">
                        <div class="row">
                            <p class="col" th:if="${eventDetails.standardTicketQuantity > 0}">Standard, </p>
                            <p class="col" th:if="${eventDetails.vipTicketQuantity > 0}">VIP, </p>
                            <p class="col" th:if="${eventDetails.vvipTicketQuantity > 0}">VVIP</p>
                        </div>
                        <div class="row">
                            <p class="col">Standard Ticket Price</p>
                            <p class="col" th:text="${eventDetails.standardTicketPrice}"></p>
                        </div>
                        <div class="row">
                            <p class="col">VIP Ticket Price </p>
                            <p class="col" th:text="${eventDetails.vipTicketPrice}"></p>
                        </div>
                        <div class="row">
                            <p class="col">VVIP Ticket Price </p>
                            <p class="col" th:text="${eventDetails.vvipTicketPrice}"></p>
                        </div>
                        <div class="row" th:if="${eventDetails.promotion > 0}">
                            <p class="col">Promotion </p>
                            <p class="col" th:text="${eventDetails.promotion} + '%'"></p>
                        </div>
                    <form method="post">
                        <div class="input-box mb-3">
                            <input type="hidden" name="userId" th:value="${userId}" >

                        </div>

                        <div class="input-box mb-3">
                            <input type="hidden" name="eventId" th:value="${eventDetails.id}" >
                        </div>


                        <div th:if="${eventDetails.standardTicketQuantity > 0}" class="input-box mb-3" >
                            <label for="standardTicketQuantity" class="form-label">Standard Ticket Quantity</label>
                            <input type="number" min="0" max="5" class="form-control" id="standardTicketQuantity"  th:if="${eventDetails.standardTicketQuantity > 0}"  name="standardTicketSold" placeholder="How many standard tickets you want to buy?" required>
                            <div th:if="${eventDetails.standardTicketAvailableQuantity}==0" class="alert alert-danger" role="alert" th:text="'Standard ticket is currently out of stock.'" value="0">
                            </div>
                        </div>

                        <div th:if="${eventDetails.vipTicketQuantity > 0}" class="input-box mb-3">
                            <label for="vipTicketQuantity" class="form-label">VIP Ticket Quantity</label>
                            <input type="number" min="0" max="5" class="form-control" id="vipTicketQuantity"  th:if="${eventDetails.vipTicketQuantity > 0}" name="vipTicketSold" placeholder="How many VIP tickets you want to buy?" required>
                            <div th:if="${eventDetails.vipTicketAvailableQuantity}==0" class="alert alert-danger" role="alert" th:text="'VIP ticket is currently out of stock.'" value="0">
                            </div>
                        </div>

                        <div th:if="${eventDetails.vvipTicketQuantity > 0}" class="input-box mb-3">
                            <label for="vvipTicketQuantity" class="form-label">VVIP Ticket Quantity</label>
                            <input type="number" min="0" max="5" class="form-control" id="vvipTicketQuantity"  th:if="${eventDetails.vvipTicketQuantity > 0}" name="vvipTicketSold" placeholder="How many VVIP tickets you want to buy?" required>
                            <div th:if="${eventDetails.vvipTicketAvailableQuantity}==0" class="alert alert-danger" role="alert" th:text="'VVIP ticket is currently out of stock.'" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="status"></label>
                            <div class="col-xs-3">
                                <input type="hidden" class="form-control" id="status"  name="status" value="0">
                            </div>
                        </div>
                        <div style="text-align:center">
                            <button type="reset" data-label="Register" class="rainbow-hover"><span class="sp">Cancel</span></button>
                            <button type="submit" data-label="Register" class="rainbow-hover">
                                <a style="text-decoration:none;color:#fff"><span class="sp">Purchase</span></a>
                            </button>
                        </div>

                    </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">

            <img src="css/exlogotest3.png"  alt="logo">
            <p>ENTRANCEX</p>


            <ul class="social">
                <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


            </ul>



            <div class="footer-menu">
                <ul class="f-menu">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/faq}">FAQ</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:href="@{/termsandconditions}">Terms and Conditions</a></li>
                    <li><a th:href="@{/privacypolicy}">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-bottom">
                <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
            </div>
        </div>


    </footer>

<script>
    function goBack() {
        history.back(); // This will go back to the previous page
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>