<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/eventdetail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">

    <title>Event Details</title>
    <style>
        body{
            background: linear-gradient(to left, #46c8ce, #2da3ff, blue);
        }
    </style>
</head>
<body>
<!--navbar-->

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="css/exlogotest3.png"  alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <li class="navlist1"><a class="navlist2" th:href="@{/org-page}">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/event-register}"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/org-profile}"><i class="fa-solid fa-user-tie"></i></a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/sign-out}" data-bs-toggle="modal" data-bs-target="#exampleModal">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>
                            <li><a style="color: white">Events</a>
                                <ul>
                                    <li><a href="/org-ongoing">Ongoing</a></li>
                                    <li><a href="/org-promotion">Promotion</a></li>
                                    <li><a href="/org-sale-record">Sale Record</a></li>
                                    <li><a href="/org-old-event">Event Approve & History</a></li>

                                </ul>
                            </li>
                            <li><a  href="/org-help">Help</a></li>
                            <li><a  href="/org-about">About</a></li>
                            <li><a  href="/org-faq">FAQ</a></li>
                            <li><a  href="/org-contact">Contact</a></li>
                            <li><a  href="/org-term">Terms and Conditions</a></li>
                            <li><a  href="/org-privacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log-Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5 style="color: rgb(127, 209, 131);">Are you sure want to log out !</h5>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;" aria-label="Close">No</button>
                <span>
                    <a href="/sign-out">
                        <button type="submit" class="btn btn-success col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;">Yes</button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>



<!-- <div id="detail-container" class="container mx-auto" style="border:1px solid;  border-radius:20px;margin:20px;margin-top:80px;margin-bottom:80px;background-color:black;color:#fff;box-shadow: 2px 2px 15px #39FF14 inset;"> -->



<div class="row" id="event-row">
    <div style="text-align:center;margin-top:40px;margin:20px;margin-left:0"> <img th:src="@{'data:image/jpeg;base64,' + ${eventDetails.encodedPhoto}}" width="450" height="300" ></div>
    <div class="col" id="col1" >
        <div class="container mx-auto">

            <div class="text1" style=" font-family:Lucida Sans; color:#fff">


                <p style="font-weight:bold; font-size:20px" th:text="${eventDetails.eventName}">
                <p>List of Artists : <span th:each="artist : ${artists}" th:text="${artist.artistName} + ' '"/>
                </p>

                <p> Event Time : <span th:text="${eventTime}"></span></p>
                <p> Event Date : <span th:text="${eventDetails.date}"></span></p>
                <p> Event Place : <span th:text="${eventDetails.venue}"/></p>
                <p style="height:150px">Event Description : <span th:text="${eventDetails.eventDescription}"/></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container mx-auto">
            <div  id="col2" >
                <div id="col2-text" style=" font-family:Lucida Sans; color:#fff;">
                    <div class="row">
                        <p class="col">Available Ticket Types</p>
                        <div class="col">
                            <p th:if="${eventDetails.standardTicketQuantity > 0}">Standard</p>
                            <p th:if="${eventDetails.vipTicketQuantity > 0}" >VIP</p>
                            <p th:if="${eventDetails.vvipTicketQuantity > 0}" >VVIP</p>
                        </div>
                    </div>


                    <div class="row">
                        <p class="col">Standard Ticket Price </p>
                        <div class="col">
                            <p  th:text="${eventDetails.standardTicketPrice}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <p class="col">VIP Ticket Price </p>
                        <div class="col">
                            <p  th:text="${eventDetails.vipTicketPrice}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col">VVIP Ticket Price </p>
                        <div class="col">
                            <p  th:text="${eventDetails.vvipTicketPrice}"></p>
                        </div>
                    </div>
                    <div class="row" th:if="${eventDetails.promotion > 0}">
                        <p class="col">Promotion </p>
                        <div class="col">
                            <p  th:text="${eventDetails.promotion} + '%'"></p>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a th:href="@{/org-page}">Home</a></li>
                <li><a th:href="@{/org-about}">About</a></li>
                <li><a th:href="@{/org-faq}">FAQ</a></li>
                <li><a th:href="@{/org-contact}">Contact</a></li>
                <li><a th:href="@{/org-term}">Terms and Conditions</a></li>
                <li><a th:href="@{/org-privacyPolicy}">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>