<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/custom.css">

    <title> Sale Record </title>


</head>
<body>

<!--        nav-bar         -->
<nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0 search-bar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-dark my-2 my-sm-0 search-button" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto " >
            <li class="nav-item active">
                <a class="nav-link " href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
            <a class="nav-link active">|</a>
            <li class="nav-item active">
                <a class="nav-link " href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
            </li>
            <a class="nav-link active">|</a>
            <li class="nav-item active">
                <a class="nav-link " href="#">Logout</a>
            </li>

        </ul>

    </div>
</nav>
<!--        nav-bar end         -->

<div class="wrapper">
    <!--  sidenav Bar  -->
    <div class="sidenav">
        <h4>Events</h4>
        <ul>
            <li><a href="/org-ongoing">Ongoing</a></li>
            <li><a href="/org-future">Future</a></li>
            <li><a href="/org-sale-record">Sale Record</a></li>
        </ul>
    </div>
    <!--         main page         -->
    <div class="container main-content">

        <!--        Event Type          -->

        <div class="container event-type">
            <h4 >Sale Record</h4>
            <table class="table tc">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!--            Footer            -->
    <div id="testfooterp">

        <span class="copyright">Copyright &#169; God-X</span>
        <span class="contact">Contact Us</span>
        <span class="fb-link"><a href=" "><i class="fa fa-facebook-official" aria-hidden="true"></i></a> </span>
        <span class="ig-link"><a href=" "><i class="fa fa-instagram" aria-hidden="true"></i></a> </span>
        <span class="rule"><a href=" ">Rule and Regulation</a> </span>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>
</body>
</html>