<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/navfooter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <title>Terms and Conditions</title>
    <style>


        .container h5{
            padding-top:8px;
        }

        .container p{
            padding:5px;
        }
        .container .p1{
            font-size:20px;
        }

        @media (max-width:979px) {
            .mainh {
                margin-top: 80px;
            }
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="css/exlogotest3.png"  alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <li class="navlist1"><a class="navlist2" href="/org-page">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/organizer-signup}"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                <li class="navlist1"><a class="navlist2" href="/org-profile"><i class="fa-solid fa-user-tie" ></i></a></li>
                <li class="navlist1"><a class="navlist2" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>
                            <li><a style="color: white">Events</a>
                                <ul>
                                    <li><a href="/org-ongoing">Ongoing</a></li>
                                    <li><a href="/org-future">Future</a></li>
                                    <li><a href="/org-sale-record">Sale Record</a></li>
                                </ul>
                            </li>

                            <li><a  href="/org-about">About</a></li>
                            <li><a  href="/org-faq">FAQ</a></li>
                            <li><a  href="/org-contact">Contact</a></li>
                            <li><a  href="/org-term">Terms and Conditions</a></li>
                            <li><a  href="/org-privacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--        nav-bar end         -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Organizar Log-Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5 style="color: rgb(127, 209, 131);">Are you sure want to log out !</h5>
            </div>
            <div class="modal-footer">
                <a href="/">
                    <button type="submit" class="btn btn-success col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container py-md-5" style="text-align:justify">
    <h3 class="mainh" style="text-align:center; padding:20px; padding-top:60px">Terms and Conditions</h3>
    <p class="p1"> Please read these terms and conditions carefully
        before using <a href="">EntranceX</a> website. </p>

    <h5>Conditions of use </h5>
    <p>By using this website, you certify that you have read and reviewed this Agreement and
        that you agree to comply with its terms. If you do not want to be bound by the terms of
        this Agreement, you are advised to stop using the website accordingly. EntranceX
        only grants use and access of this website, its products, and its services to those who
        have accepted its terms.</p>

    <h5> Privacy policy </h5>
    <p>Before you continue using our website, we advise you to read our <a href="">privacy policy</a> regarding our user data collection. It will help you better understand our
        practices.</p>

    <h5>Age restriction </h5>
    <p>You must be at least 18 (eighteen) years of age before you can use this website. By
        using this website, you warrant that you are at least 18 years of age and you may
        legally adhere to this Agreement. EntranceX assumes no responsibility for
        liabilities related to age misrepresentation. </p>

    <h5>Intellectual property </h5>
    <p>You agree that all materials, products, and services provided on this website are the
        property of EntranceX, its affiliates, directors, officers, employees, agents,
        suppliers, or licensors including all copyrights, trade secrets, trademarks, patents, and
        other intellectual property. You also agree that you will not reproduce or redistribute the
        EntranceX’s intellectual property in any way, including electronic, digital, or new
        trademark registrations.
        You grant EntranceX a royalty-free and non-exclusive license to display, use,
        copy, transmit, and broadcast the content you upload and publish. For issues regarding
        intellectual property claims, you should contact the company in order to come to an
        agreement. </p>

    <h5>User accounts </h5>
    <p>As a user of this website, you may be asked to register with us and provide private
        information. You are responsible for ensuring the accuracy of this information, and you
        are responsible for maintaining the safety and security of your identifying information.
        You are also responsible for all activities that occur under your account or password.
        If you think there are any possible issues regarding the security of your account on the
        website, inform us immediately so we may address them accordingly.
        We reserve all rights to terminate accounts, edit or remove content and cancel orders at
        our sole discretion. </p>

    <h5>Applicable law </h5>
    <p>By using this website, you agree that the laws of Myanmar, without regard to
        principles of conflict laws, will govern these terms and conditions, or any dispute of any
        sort that might come between EntranceX and you, or its business partners and
        associates. </p>

    <h5>Disputes</h5>
    <p>Any dispute related in any way to your use of this website or to products you purchase
        from us shall be arbitrated by state or federal court Myanmar and you consent to
        exclusive jurisdiction and venue of such courts. </p>

    <h5>Indemnification</h5>
    <p>You agree to indemnify EntranceX and its affiliates and hold EntranceX
        harmless against legal claims and demands that may arise from your use or misuse of
        our services. We reserve the right to select our own legal counsel.
        Limitation on liability
        EntranceX is not liable for any damages that may occur to you as a result of your
        misuse of our website.
        EntranceX reserves the right to edit, modify, and change this Agreement at any
        time. We shall let our users know of these changes through electronic mail. This
        Agreement is an understanding between EntranceX and the user, and this
        supersedes and replaces all prior agreements regarding the use of this website. </p>

    <h6 class="my-5">Last Updated on: 23th March, 2023</h6>
</div>

<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/org-about">About</a></li>
                <li><a href="/org-faq">FAQ</a></li>
                <li><a href="/org-contact">Contact</a></li>
                <li><a href="/org-term">Terms and Conditions</a></li>
                <li><a href="/org-privacyPolicy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>