<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/aboutstyle.css">

    <style>
        @media (max-width:750px){
            #introTitle{
                padding-top:40px;

            }

            #title{

            }
        }

        .nav-item a:hover{
            border-bottom: 1px solid white;
        }
    </style>

    <title> about us </title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user-page"><img src="css/exlogotest3.png"  alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
<!--                <li class="navlist1">-->
<!--                    <form th:action="@{/user-search-page}" method="get" class="d-flex" role="search">-->
<!--                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="eventName">-->
<!--                        <button class="btn btn-light" type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>-->
<!--                    </form>-->
<!--                </li>-->
                <li class="navlist1"><a class="navlist2" th:href="@{/user-page}">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/user-profile}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/sign-out}" data-bs-toggle="modal" data-bs-target="#exampleModal">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>
                            <li><a class="text:white">Events</a>
                                <ul>
                                    <li><a href="/user-trending">Trending</a></li>
                                    <li><a href="/user-all-event">All-Events</a></li>
                                    <li><a href="/user-promotion">Promotion</a></li>
                                    <li><a href="/user-watch-later">Watch Later</a></li>
                                    <li><a href="/user-history">History</a></li>
                                    <li><a href="/user-voucher">Voucher</a></li>
                                </ul>
                            </li>
                            <li><a  href="/user-about">About</a></li>
                            <li><a  href="/user-faq">FAQ</a></li>
                            <li><a  href="/user-contact">Contact</a></li>
                            <li><a  href="/user-term">Terms and Conditions</a></li>
                            <li><a  href="/user-privacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log-Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5 style="color: rgb(127, 209, 131);">Are you sure want to log out !</h5>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;" aria-label="Close">No</button>
                <span>
                    <a href="/sign-out">
                        <button type="submit" class="btn btn-success col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;">Yes</button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="bgimage" class="py-md-5" >


    <div class="content">
        <h1 class="anitext">GATEWAY TO FUN EVENTS</h1>
        <p>Wanna get tickets? Or sell tickets? Here's the best place for you!</p>
        <button class="learnbtn"><a href="#learnmore" style="text-decoration:none; color:#fff">Learn More</a></button>
    </div>
</div>

<div class="intro section-padding py-md-5" >
    <div class="container">
        <div id="learnmore" class="row">
            <div class="col-mid-12 col-sm-12 col-xs-12 text-center">
                <div id="introTitle" class="section-header">
                    <h2 id="title" style="padding:25px; margin-top:10px;font-size:30px">Let's find out about us!</h2>

                </div>
            </div>

        </div>
        <div class="row" style="margin-bottom:40px">
            <div class="col-lg-4 col-md-6">
                <div class="eachintro">
                    <h3>WHO WE ARE</h3>
                    <p>We are an online ticketing website designed for events and festivals. We founded our website in 2023. We are based in Yangon, Myanmar, and one of the best ticketing sites running currently in our country.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="eachintro">
                    <h3>WHAT WE DO</h3>
                    <p>We provide ticket selling and buying services to our customers. We keep ourselves updated with the current trends of online ticketing services and actively update our website to meet the customer needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="eachintro">
                    <h3>WHY WE DO</h3>
                    <p>We founded our website with the purpose to let our customers buy or sell tickets fast and easy. We aim to be able to stand as a household name when it comes to online ticketing sites in our country.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="quickfacts section-padding">
    <div class="container" style="margin-bottom:20px; padding:30px">
        <div class="row">
            <div class="col-md-3">
                <div class="eachfact">
                    <h3>2023</h3>
                    <p>Year founded at</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="eachfact">
                    <h3>MYANMAR</h3>
                    <p>Services available in</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="eachfact">
                    <h3>5</h3>
                    <p>Team members</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="eachfact">
                    <h3>100k+</h3>
                    <p>Customers served</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="py-md-4">
    <div class="py-md-3">
        <div class="card text-center mb-3 mx-auto py-md-4" style="width: 50%;background-color:#c2e0ed">
            <div class="card-body">
                <h5 class="card-title">OUR STORY</h5>
                <p class="card-text" style="text-align:justify">We wanted to build a website that is user-friendly and can contribute to our community and came to a decision to design a ticketing website aimed for events and festivals, since there are not many such sites in our country. After working on this website for about a month, our website is now up and running and becoming a widely-used, convenient-to-use online ticking site for our customers.</p>

            </div>
        </div>
    </div>

    <div class="py-md-3">
        <div class="card text-center mb-3 mx-auto py-md-4" style="width: 50%;background-color:#ced9ed">
            <div class="card-body">
                <h5 class="card-title">OUR TEAM</h5>
                <p class="card-text" style="text-align:justify">Our team includes five members in total. We are all programming students living in Yangon, Myanmar. We are actively making sure our website is running smoothly and our customers are having best customer experiences using it. We immediately solve the problems that may arise from ticket buyers or sellers while using our services. </p>

            </div>
        </div>
    </div>
</div>

<div class="py-md-3">
    <div class="card border-info mb-3 mx-auto" style="width:70%;background-color:#ced9ed">
        <div class="card-header text-center">WHY SHOULD CHOOSE US</div>
        <div class="card-body">
            <h5 class="card-title text-center">Trustworthy</h5>
            <p class="card-text" style="text-align:justify">We are an authentic website and you can trust us with your personal data as we priortise our customers' privacy. We actively check our website to make sure no fraud is going on, on either buyers' or sellers' sides.</p>
            <h5 class="card-title text-center">Responsive</h5>
            <p class="card-text" style="text-align:justify">We value our customers and giving best customer service is our top priority. We actively reply to your inquiries through emails and social media sites within one business day. Want an immediate reply? Just give us a call!  </p>
            <h5 class="card-title text-center">Simplicity</h5>
            <p class="card-text" style="text-align:justify">We keep the procedures either to buy tickets or to sell tickets as simple as possible for the convenience of our customers. You can also check our help page to see how everything is processed here.</p>

        </div>
    </div>
</div>





</div>

<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none" hidden></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/user-about">About</a></li>
                <li><a href="/user-faq">FAQ</a></li>
                <li><a href="/user-contact">Contact</a></li>
                <li><a href="/user-term">Terms and Conditions</a></li>
                <li><a href="/user-privacyPolicy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>