<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/profile.css">
    <title>User Profile</title>

    <style>
        html body{
            background: linear-gradient(to left, #46c8ce, #2da3ff, blue);
        }
    </style>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="css/exlogotest3.png"  alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
<!--                <li class="navlist1">-->
<!--                    <form th:action="@{/user-search-page}" method="get" class="d-flex" role="search">-->
<!--                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="eventName">-->
<!--                        <button class="btn btn-light" type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>-->
<!--                    </form>-->
<!--                </li>-->
                <li class="navlist1"><a class="navlist2" th:href="@{/user-page}">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/user-profile}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/sign-out}" data-bs-toggle="modal" data-bs-target="#exampleModal">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>
                            <li><a class="text:white">Events</a>
                                <ul>
                                    <li><a href="/user-trending">Trending</a></li>
                                    <li><a href="/user-all-event">Events</a></li>
                                    <li><a href="/user-promotion">Promotion</a></li>
                                    <li><a href="/user-watch-later">Watch Later</a></li>
                                    <li><a href="/user-history">History</a></li>
                                </ul>
                            </li>
                            <li><a  href="/user-about">About</a></li>
                            <li><a  href="/user-help">help</a></li>
                            <li><a  href="/user-contact">Contact</a></li>
                            <li><a  href="/user-term">Terms and Conditions</a></li>
                            <li><a  href="/user-privacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log-Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5 style="color: rgb(127, 209, 131);">Are you sure want to log out !</h5>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;" aria-label="Close">No</button>
                <span>
                    <a href="/sign-out">
                        <button type="submit" class="btn btn-success col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;">Yes</button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto" id="cardContainer">
    <div class="profile col-md-6 mx-auto">
        <div class="card mb-3 content">
            <div class="profile-header">
                <div class="header-content">
                    <h4>Your Account Profile</h4>
                    <i class="fa-solid fa-user" id="user-icon"></i>
                </div>
            </div>

            <div class="card-body" id="body-part" style="width:100%">
                <div class="row" style="margin-top:20px;font-size:17px">
                    <div class="col" style="text-align:right;padding-right:40px;width:50%">
                        <p style="margin:10px;font-weight:bold" class="left-title">Username</p>
                    </div>
                    <div class="col" style="text-align:left;padding-left:40px;width:50%">
                        <p style="margin:10px" th:text="${userData.userName}"></p>
                    </div>
                </div>
                <hr class="mx-auto" >

                <div class="row" style="font-size:17px">
                    <div class="col" style="text-align:right;padding-right:40px">
                        <p style="margin:10px;font-weight:bold" class="left-title">Gender</p>
                    </div>
                    <div class="col" style="text-align:left;padding-left:40px;width:50%">
                        <p style="margin:10px" th:text="${userData.gender}"></p>
                    </div>
                </div>
                <hr class="mx-auto" >

                <div class="row">
                    <div class="col" style="text-align:right;padding-right:40px;width:50%">
                        <p style="margin:10px;font-weight:bold">Phone</p>
                    </div>
                    <div class="col" style="text-align:left;padding-left:40px;width:50%">
                        <p style="margin:10px" th:text="${'0' + userData.phone}"></p>
                    </div>
                </div>
                <hr class="mx-auto" >



                <div class="row" style="margin-bottom:20px">
                    <div class="col" style="text-align:right;padding-right:40px;width:50%">
                        <p style="margin:10px;font-weight:bold">Email</p>
                    </div>
                    <div class="col" style="text-align:left;padding-left:40px;width:50%">
                        <p style="margin:10px" th:text="${userData.email}"></p>
                    </div>
                </div>



            </div>


            <div class="card-footer center">

                <button  class="card-btn"><a href="/user-profile-update" style="text-decoration: none;color:#ffffff">Edit</a></button>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/user-about">About</a></li>
                <li><a href="/user-faq">FAQ</a></li>
                <li><a href="/user-contact">Contact</a></li>
                <li><a href="/user-term">Terms and Conditions</a></li>
                <li><a href="/user-privayPolicy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>