<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/navfooter.css">
    <title>User Profile</title>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="css/exlogotest3.png"  alt="logo"> EntranceX</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <li class="navlist1"><a class="navlist2" href="">HOME</a></li>
                <li class="navlist1"><a class="navlist2" href="">SIGN IN</a></li>
                <li class="navlist1"><a class="navlist2" href="">SIGN OUT</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>

                            <li><a href="">Events
                            </a>
                                <ul>
                                    <li><a href="">Trending</a></li>
                                    <li><a href="">This month</a></li>
                                    <li><a href="">Upcoming</a></li>
                                    <li><a href="">Promotion</a></li>
                                </ul>
                            </li>
                            <li><a  href="">Sign Up</a></li>
                            <li><a  href="">Sign Out</a></li>
                            <li><a  href="">About</a></li>
                            <li><a  href="">Contact</a></li>
                            <li><a  href="">Terms and Conditions</a></li>
                            <li><a  href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container mx-auto" id="cardContainer">
    <div class="profile col-md-6 mx-auto">
        <div class="card mb-3 content">
            <div class="profile-header">
                <div class="header-content">
                    <h4>Your Account Profile</h4>
                    <i class="fa-solid fa-user" id="user-icon"></i>
                </div>
            </div>

            <div class="card-body" id="body-part">
                <div class="row" style="padding-top:60px">
                    <div class="col-md-6">
                        <h5>Name</h5>
                    </div>
                    <div class="col-md-6 ">
                        <p>Harry</p>
                    </div>
                </div>
                <hr>


                <div class="row" >
                    <div class="col-md-6">
                        <h5>Username</h5>
                    </div>
                    <div class="col-md-6 ">
                        <p>harry12</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Date of Birth</h5>
                    </div>
                    <div class="col-md-6 ">
                        <p> 3/14/1990</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Gender</h5>
                    </div>
                    <div class="col-md-6">
                        <p>Male</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Phone</h5>
                    </div>
                    <div class="col-md-6 ">
                        <p> 093873846</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Email</h5>
                    </div>
                    <div class="col-md-6">
                        <p>harry@gmail.com</p>
                    </div>
                </div>



            </div>
            <div class="card-footer center">
                <button href="" class="card-btn">Back</button>
                <button href="" class="card-btn">Edit</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>