*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    min-height: 100vh;

}
.wrapper{
    background: linear-gradient(90deg,red,purple,darkblue, #10b4c0);
    min-height: 100vh;
    width: 100%;
    background-size: 200% 200%;
    animation: color 10s ease-in-out infinite;
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.wrapper .container .main-content{

    width: 100%;
    min-height: 100%;

}

.sliding-img{
    margin-top: 50px;
    position: center;
}
.card-title{
    color: white;
    text-shadow: 1px 2px brown;
    text-outline: #111111;
    font-size: 23px;
    position: center;
    right: 80px;

}
.add-event{
    margin-top: 60px;
    position: center;
}
.wrapper .main-content .slide-img{
    max-height: 350px;
    min-height: 350px;
}
.add-event-img{
    max-height: 200px;
    min-height: 200px;
}
.add-event-title{
    color: white;
    text-shadow:2px 2px 3px brown ;
    font-size: 50px;
}
.add-event-info{
    color: aquamarine;
    text-shadow:2px 2px 3px brown ;
    font-size: 30px;
}
.add-event-i{
    color: white;
    text-shadow:2px 2px 3px brown ;
    font-size: 50px;
}

.wrapper .main-content .event-type{
    font-size: 25px;
    color: greenyellow;
    text-shadow: 2px 2px 3px brown;
    position: center;
}
.wrapper .main-content .event-see-more{
    font-size: 25px;
    color: whitesmoke;
    text-shadow: 2px 2px 3px brown;
    position: center;
    right: 50px;
}


.wrapper .main-content .event{

    position: center;
    height: 100%;

}
.tc{
    color: white;
}


/* navbar */

.navlistright{
    display:inline;
    float:right;
}
.navlistright button i{
    font-size: 23px;
}

.navlist{
    List-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display:inline;
}

.navlist1{
    display:inline-block;

}

.navlist2{
    text-decoration: none;
    color:#fff;
    width:110px;
    display:block;
    padding:8px 8px;
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
}


.navlist2:hover{
    font-size:18px;
    color:#8000ff;

}

.navlistright #explore-btn{
    display:inline-block;
    border:none;
    background-color: transparent;
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    padding:8px 8px;
    padding-bottom:13px;
    width:110px;
    text-align:center;
}
#explore-btn:hover{
    color:#8000ff;
    font-size:19px;
}
#search {
    font-size: 10px;
    padding: 5px ;
    color: white;
    background-color: rgb(37, 32, 32);
}
#search:hover {
    color: rgb(37, 32, 32);
    background-color: white;
}
.navlist1 a i{
    font-size: 19px;
}
.navlist1 a i:hover{
    font-size: 22px;
}



#offcanvasRight{
    background-color: #111;
    transition: 0.5s ease;
    width:auto;
}




.offcanvas-title{
    color:#fff;
    font-weight: bold;
    padding:7px;
    text-align: left;

}



.offcanvas-body ul{
    display:inline-block;
    text-align: left;

}

.offcanvas-body ul li{
    list-style-type: none;
}

.offcanvas-body ul li a{
    color:#fff;
    font-weight:600;
    padding: 7px;
    display:block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    position:relative;
}

.offcanvas-body ul li a:hover{

    color:#8000ff;
    border-bottom:1px solid #fff;
    border-bottom-width: 70%;
}


.offcanvas-body ul ul{
    position:static;

}


.offcanvas-body ul ul li{
    line-height: 30px;
    border-bottom:none;
}

.offcanvas-body ul ul li a{
    font-size:14px;
    color:#fff;
    padding-left:25px;
}

.offcanvas-body ul ul li a:hover{
    border-bottom:none;
}



/* background image */
#bgimage{
    width:100%;
    height:490px;
    background-image:url(concertexop.png);
    background-size:cover;
    background-position:center;
    padding:10px 8%;




}






.content{
    margin-top:11%;
    color:rgb(34, 25, 11);

}



.content p{
    font-size:30px;
    font-weight:bold;
    line-height:40px;
    font-family:cursive;
    margin-bottom:15px;
    color:rgb(37, 32, 32);

}

.content .learnbtn{
    width:150px;
    margin-top:10px;
    padding:0.4rem 0.8rem;
    border:2px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    text-transform: uppercase;
    color:#fff;
    font-weight:bold;
    font-size:15px;
    box-shadow:inset 0 0 0 #966e00;
    transition: 0.6s ease-out;
}

.content .learnbtn:hover{
    box-shadow: inset 150px 0 0 #966e00;
}

.anitext{
    font-size:60px;
    line-height:60px;
    margin-left: -10px;
    color:transparent;
    -webkit-text-stroke:1px rgb(37, 32, 32);
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation:back 20s linear infinite;

}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}





.eachintro{
    padding:30px 20px;
}

.eachintro h3{
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
}

.eachintro p{
    text-align:justify;
}

.quickfacts{
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position:relative;
    z-index:1;
}

.eachfact{
    color:white;
    text-align:center;

}

.eachfact h3{
    font-weight:bold;
    font-size:40px;

}



.navbar-brand{
    font-family: fantasy;
}



/* footer */
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

/* event detail button */


.input-box{
    padding:15px;
}

#eventdetailbtn1, #eventdetailbtn2{
    background-color:#333;
    color:#fff;
    border-radius:10%;
    width:80px;
    transition:all 0.3s ease-out;
}

#eventdetailbtn1:hover{
    background-color:rgb(197, 193, 193);
    color:black;
}

#eventdetailbtn2:hover{
    background-color:rgb(197, 193, 193);
    color:black;
}

footer{

    bottom:0;
    left:0;
    right:0;
    background:#111;
    height:auto;
    padding-top:40px;
    width:100%;
    color:white;

}

.footer-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;

}
.footer-content p{
    font-family: fantasy;
}
footer .footer-content h3{
    font-size:2.1rem;
    font-weight: 500;
    line-height: 3rem;


}

footer .footer-content .social{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1rem 0 3rem 0;



}

footer .footer-content .social li{
    margin:0 10px;

}


.social li a{
    text-decoration:none;
    color:#fff;
    /* border:1.1px solid white; */
    padding:10px;
    /* border-radius:50%; */
    width:30px;
    font-size:20px;


}

.social li a:hover{
    color:#27bcda;
}

.footer-menu{
    float: bottom;

}

.footer-menu ul{
    display:flex;

}

.footer-menu ul li{
    padding-right:10px;
    display:block;

}

.footer-menu ul li a{
    color:#cfd2d6;
    border:1.3px solid white;
    padding:6px 15px;
    text-decoration:none;
    border-radius:50px;
}

.footer-menu ul li a:hover{
    color:#27bcda;

}

.footer-bottom{

    width:100vw;
    padding:20px;
    text-align:center;
}

.footer-bottom p{
    text-align:center;
    font-size:14px;
    word-spacing:2px;
    font-family: sans-serif;
}

@media(max-width:500px){
    .footer-menu ul{
        display:inline;

    }

    .footer-menu ul li{
        margin-bottom:20px;
    }
}
.card{
    box-shadow: 4px 4px #111111;
}

