.ex{
    position: relative;
    left: 125px;
}
.search-bar{
    position: relative;
    left:800px;
}
.main-sign-up{
    position: relative;
    left: 870px;
}
.main-sign-in{
    position: relative;
    left: 860px;
}
.sp{
    position: relative;
    left: 865px;
}
.slide-img{
    max-height: 350px;
    min-height: 350px;
}
.event-type{
    color: blueviolet;
    position: relative;
    left: 200px;
    top:15px;
}
.second-event{
    position: relative;
    left: auto;
  }
.policy > div{
    padding: 4px;
}