*{
    margin: 0;
    padding: 0;
}
body{
    font-family: SansSerif
}
.wrapper{
    background: linear-gradient(to right,#283048, #859398);
}
.wrapper .sidenav{
    position: fixed;
    left:0;
    top: 0;
    width: 12vw;
    height: 100vh;
    background: #231f20;
}
.wrapper .sidenav h4{
    color: white;
    text-align: center;
    line-height: 90px;

}
.wrapper .sidenav ul li a{
    color: white;
    text-decoration: none;
}
.wrapper .sidenav ul li{
    text-align: center;
    list-style: none;
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.wrapper .main-content{

    width:88vw;
    margin-left: 12vw;
    height: 100%;
}
.navbar{
    background: grey;
}

.ex{
    position: relative;
    left: 10px;
}
.logo{
    position: relative;
    left:50px;
}
.search-bar{
    /*width: 300px;*/
    position: relative;
    left:450px;
}
.search-button{
    background: grey;
}
.search-button i{
    color: white;
}

.slide-img{
    max-height: 350px;
    min-height: 350px;
}
.event-type{
    top: 25px;
    color: greenyellow;
    text-shadow: 2px 2px brown;
    position: relative;
    left:1vw ;

}
.event{
    position: relative;
    left:5vw ;
}
.second-event{
    position: relative;
    left: auto;
  }
.policy > div{
    padding: 4px;
}
#testfooter{
    color: white;
    background:grey;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 0px 0px;
    position: -ms-device-fixed;
    width: 100%;
    float: bottom;
}
.copyright{
    position: relative;
    right: 250px;
}
.contact{
    position: relative;
    left:80px;
}
.fb-link{
    position: relative;
    left:82px;
}
.ig-link{

    position: relative;
    left:84px;
}
#testfooter .fb-link a i{
    color: white;
}
#testfooter .ig-link a i{
    color: white;
}
#navbarSupportedContent ul{
    position: relative;
    left:500px;
    font-size: larger;
}