
html body{
    background: linear-gradient(to left, #46c8ce, #2da3ff, blue);
    padding:100px;
}

/* navbar */
.navlistright{
    display:inline;
    float:right;
}

.navbar-brand{
    font-family:fantasy;
}

.navlist{
    List-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display:inline;
}

.navlist1{
    display:inline-block;

}

.navlist2{
    text-decoration: none;
    color:#fff;
    width:110px;
    display:block;
    padding:8px 8px;
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
}


.navlist2:hover{
    font-size:17px;
    color:#8000ff;

}

#explore-btn{
    display:inline-block;
    border:none;
    background-color: transparent;
    color:#fff;
    font-size:20px;
    text-transform:uppercase;
    font-weight:bold;
    padding:5px 5px;
    padding-bottom:10px;
    width:110px;
    text-align:center;
}

#explore-btn:hover{
    color:#8000ff;
    font-size:21px;
}

#offcanvasRight{
    background-color: #111;
    transition: 0.5s ease;
    width:auto;
}




.offcanvas-title{
    color:#fff;
    font-weight: bold;
    padding:7px;
    text-align: left;

}



.offcanvas-body ul{
    display:inline-block;
    text-align: left;

}

.offcanvas-body ul li{
    list-style-type: none;
}

.offcanvas-body ul li a{
    color:#fff;
    font-weight:600;
    padding: 7px;
    display:block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    position:relative;
}

.offcanvas-body ul li a:hover{

    color:#8000ff;
    border-bottom:1px solid #fff;
    border-bottom-width: 70%;
}


.offcanvas-body ul ul{
    position:static;

}


.offcanvas-body ul ul li{
    line-height: 30px;
    border-bottom:none;
}

.offcanvas-body ul ul li a{
    font-size:14px;
    color:#fff;
    padding-left:25px;
}

.offcanvas-body ul ul li a:hover{
    border-bottom:none;
}

#card1 {
    width: auto;
    height: auto;
    background: transparent;
    border:0;
    font-weight:bold;
    /*border: 2px solid #07ff07;
    box-shadow: 2px 2px 15px #dafae6 inset; */
    text-align: center;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* #card1:hover {
    color: #07ff07;
    box-shadow: 2px 2px 15px #07ff07 inset;
} */

.rainbow-hover{
    margin:8px;
    padding:5px;
    width:100px;
    border-radius: 9px;
    border:1px solid;
    background-color: black;
    color:#fff;
}


.rainbow-hover:hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 15px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #39FF14,
    0px 4px 16px #39FF14;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.3s;
    width:auto;
}

.sp:hover {
    background: linear-gradient(
            90deg,
            #866ee7,
            #ea60da,
            #ed8f57,
            #fbd41d,
            #2cca91
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
}

.rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
}


/*footer */

/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */



footer{
    padding-top:40px;
    margin-top:50px;
    position:absolute;
    left:0;
    right:0;
    /* bottom:0; */
    background:#111;
    height:auto;
    width:100%;
    color:white;

}

.footer-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;

}

.footer-content p{
    font-family:fantasy;
}

footer .footer-content h3{
    font-size:2.1rem;
    font-weight: 500;
    line-height: 3rem;


}

footer .footer-content .social{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1rem 0 3rem 0;



}

footer .footer-content .social li{
    margin:0 10px;

}


.social li a{
    text-decoration:none;
    color:#fff;
    /* border:1.1px solid white; */
    padding:10px;
    /* border-radius:50%; */
    width:30px;
    font-size:20px;


}

.social li a:hover{
    color:#27bcda;
}

.footer-menu{
    margin-bottom: 20px;

}

.footer-menu ul{
    display:flex;

}

.footer-menu ul li{
    padding-right:10px;
    display:block;

}

.footer-menu ul li a{
    color:#cfd2d6;
    border:1.3px solid white;
    padding:6px 15px;
    text-decoration:none;
    border-radius:50px;
}

.footer-menu ul li a:hover{
    color:#27bcda;

}

.footer-bottom{

    width:100vw;
    padding:20px;
    text-align:center;
}

.footer-bottom p{
    text-align:center;
    font-size:14px;
    word-spacing:2px;
    font-family:sans-serif;

}

@media(max-width:500px){
    body{
        padding-top:70px;
    }

    .navlist2{
        width:95px;
        font-size:13px;
        padding:6px 6px;
    }

    #explore-btn{

        font-size:19px;
        padding:4px 4px;
        padding-bottom:8px;
        width:95px;
        text-align:center;
    }

    .navlist2:hover{
        font-size:14px;
        color:#8000ff;

    }

    #explore-btn:hover{
        color:#8000ff;
        font-size:20px;
    }

    #container1{
        width:auto;
    }

    .rainbow-hover{
        font-size:12px;
        width:80px;
    }

    #paymentScreenshot{
        width:200px;
        font-size: 10px;
    }

    .footer-menu ul{
        display:inline;

    }

    .footer-menu ul li{
        margin-bottom:20px;
    }
}

