<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body{
            overflow-x: hidden;
        }
        a{
            color: white;
        }
        a:hover{
            color: #cfd2d6;
        }
        h2{
            color: white;
        }

    </style>

</head>
<body>

    <div class="jumbotron text-center" style="background: black;">
     <h1 style="color: white">Welcome back from Extrance-X</h1>
        <br>
     <h2>Sign in to Account</h2>
    </div>

    <form class="form-horizontal" action="/admin" method="post">

        <div class="form-group">
                <label class="control-label col-sm-5" for="username">Username:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="username" name="username">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-5" for="password">Password:</label>
            <div class="col-xs-3">
                <input type="password" class="form-control" id="password"  name="password">
            </div>
        </div>
        <br>
        <ul class="pager">
            <li>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </li>
        </ul>
    </form>
    <ul class="pager">
        <li>
            <button type="submit" class="btn btn-primary"><a href="/">Back</a></button>
        </li>
    </ul>
</body>
</html>