<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/login.css">

</head>
<body>
<div class="content" >
    <div class="text">
        Login
    </div>
    <form th:action="@{/login}" method="post">

        <div class="field">

            <input type="text" class="input" id="userName" name="userName" placeholder="Username" required>

<!--            <label class="label">Username</label>-->
        </div>
        <div class="field">
            <input type="password" class="input" id="loginPassword" name="loginPassword" placeholder="Password" required>

<!--            <label class="label">Password</label>-->
        </div>
        <span style="color:red;font-size:13px;" th:if="${param.error}" class="error" >Username or Password doesn't match! Please Try Again.</span>

        <button class="button" style="margin-bottom:0">Sign in</button>

    </form>
    <a href="/" style="text-decoration:none;color: #595959;"><button class="button">Back</button></a>
    <div class="sign-up">
        Not a member?
        <a href="/user-signup">signup now</a>
    </div>
</div>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
<!--

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body{
            overflow-x: hidden;
        }
        a{
            color: white;
        }
        a:hover{
            color: #cfd2d6;
        }

    </style>

</head>
<body>

<div class="container mx-auto" style="margin:40px;width:750px;display:block;margin-left:270px;border:1px solid;padding:0">
    <div class="jumbotron text-center" style="background: black;font-size:30px;border-radius:0">
     <h2 style="color:white">Welcome back from Extrance-X</h2>
        <br>
     <h3 style="color:white">Sign in to Account</h3>
    </div>

    <form class="form-horizontal" method="post">

        <div class="form-group">
                <label class="control-label col-sm-5" for="userName">Username:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Username"required>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-5" for="loginPassword">Password:</label>
            <div class="col-xs-3">
                <input type="password" class="form-control" id="loginPassword"  name="loginPassword" placeholder="Password" required>
                <br>
                <span th:if="${param.error}" class="error">Username or Password doesn't match! Please Try Again.</span>
            </div>
        </div>

        <br>
        <ul class="pager">
            <li>
                <button type="submit" class="btn " style="background-color:#111111;color:#dddddd">Sign In</button>
            </li>
        </ul>
    </form>
    <ul class="pager">
        <li>
            <button type="submit" class="btn" style="background-color:#111111;color:#dddddd"><a href="/">Back</a></button>
        </li>
    </ul>
</div>

</body>
</html>  -->