<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body{
            overflow-x: hidden;
        }
        a{
            color: white;
        }
        a:hover{
            color: #cfd2d6;
        }
        h2{
            color: white;
        }

    </style>


</head>

<body>

<div class="jumbotron text-center" style="background: black" >
    <h1 style="color: white">Welcome from Extrance-X</h1>
    <br>
    <h2>Sign Up as Organizer !</h2>
</div>

<form class="form-horizontal" action="/org-page" method="post">

    <div class="form-group">
        <label class="control-label col-sm-5" for="orgname">Organizer Name:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="orgname" name="orgname">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="orgemail">Organizer Email:</label>
        <div class="col-xs-3">
            <input type="email" class="form-control" id="orgemail" name="orgemail">
        </div>
    </div>
    <br>
    <div class="from-group">
        <label class="control-label col-sm-5" for="orgphone">Enter a phone number (Organizer):</label>
        <div class="col-xs-3">
            <input type="tel" id="orgphone" name="orgphone" placeholder="09-1234567">
        </div>
    </div>
    <br>
    <br><br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="cname">Company Name:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="cname" name="cname">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="cemail">Company Email:</label>
        <div class="col-xs-3">
            <input type="email" class="form-control" id="cemail" name="cemail">
        </div>
    </div>
    <br>
    <div class="from-group">
        <label class="control-label col-sm-5" for="cphone">Enter a phone number (Company):</label>
        <div class="col-xs-3">
            <input type="tel" id="cphone" name="cphone" placeholder="09-1234567">
        </div>
    </div>
    <br>
    <br><br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="caddress">Company Address:</label>
        <div class="col-xs-3">
            <textarea class="form-control rows=5" id="caddress" name="caddress"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" for="comment">Bio:</label>
        <div class="col-xs-3">
        <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="password">Password:</label>
        <div class="col-xs-3">
            <input type="password" class="form-control" id="password"  name="password">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="cpassword">Confirm Password:</label>
        <div class="col-xs-3">
            <input type="password" class="form-control" id="cpassword"  name="cpassword">
        </div>
    </div>
    <br>
    <ul class="pager">
        <li>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </li>
    </ul>

</form>

    <ul class="pager">
        <li>
            <button type="submit" class="btn btn-primary"><a href="/">Back</a></button>
        </li>
    </ul>

</body>
</html>