<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/eventFormStyle.css">
    <title>Organizer Sing Up</title>

    <style>
        body{
            overflow-x:hidden ;
        }
        html body{
            background: linear-gradient(to left, #46c8ce, #2da3ff, blue);
        }
    </style>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="css/exlogotest3.png"  alt=""> Entrance-X</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <!-- <li class="navlist1">
                     <form class="d-flex" role="search">
                         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                         <button class="btn btn-light" type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                     </form>
                 </li> -->
                <li class="navlist1"><a class="navlist2" href="/">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/login}">LogIn</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/user-signup}">SIGN-UP</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>

                            <li><a class="text:white">Events
                            </a>
                                <ul>
                                    <li><a href="/main-trending">Trending</a></li>
                                    <li><a href="/main-this-month">This month</a></li>
                                    <li><a href="/main-upcoming">Upcoming</a></li>
                                    <li><a href="/main-promotion">Promotion</a></li>
                                </ul>
                            </li>
                            <li><a  th:href="@{/user-signup}">Sign-Up</a></li>
                            <li><a  th:href="@{/login}">Log-In</a></li>
                            <li><a  href="/about">About</a></li>
                            <li><a  href="/faq">FAQ</a></li>
                            <li><a  href="/contact">Contact</a></li>
                            <li><a  href="/termsandconditions">Terms and Conditions</a></li>
                            <li><a  href="/privacypolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>



<!--event form-->
<div class="container">
    <div class="event-div col-md-6 mx-auto">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h4>Organizer Account Sign Up</h4>
            </div>
            <div class="panel-body">
                <form th:method="post" >
                    <div class="input-box mb-3">
                        <label for="orgname" class="form-label">Username</label>
                        <input type="text" class="form-control" id="orgname" name="userName" placeholder="Enter Username" required>
                        <div class="container" style="background: #ffb9ab;border: 1px solid #dde1e7;margin-top: 5px;border-radius: 10px" >
                            <span style="color: #ff0000;font-size: 13px;" th:if="${param.userNameExist}" class="error" ><b>Username is already Exist! Please Try Another Name.</b></span>
                        </div>
                    </div>

                    <div class="input-box mb-3">
                        <label for="organizerEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="organizerEmail" name="organizerEmail" placeholder="Enter email" required>
                        <div class="container" style="background: #ffb9ab;border: 1px solid #dde1e7;margin-top: 5px;border-radius: 10px" >
                            <span style="color: #ff0000;font-size: 13px;" th:if="${param.emailExist}" class="error" ><b>Email is already Exist! Please Try with Another Email.</b></span>
                        </div>
                    </div>

                    <div class="input-box mb-3" >
                        <label for="orgphone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="orgphone" name="organizerPhone" placeholder="Enter phone no" required>
                    </div>

                    <div class="input-box mb-3">
                        <label for="cname" class="form-label">Company Name</label>
                        <input type="text" class="form-control" id="cname" name="companyName"  placeholder="Enter company name" required>
                    </div>

                    <div class="input-box mb-3" >
                        <label for="cemail" class="form-label">Company Email</label>
                        <input type="email" class="form-control" id="cemail" name="companyEmail"  placeholder="Enter company email" required>
                    </div>

                    <div class="input-box mb-3">
                        <label for="cphone" class="form-label">Company Phone</label>
                        <input type="tel" class="form-control" id="cphone" name="companyPhone"  placeholder="Enter company phone" required>
                    </div>

                    <div class="input-box mb-3">
                        <label for="caddress" class="form-label">Company Address</label>
                        <input type="text" class="form-control" id="caddress" name="companyAddress"  placeholder="Enter company address" required>
                    </div>

                    <div class="input-box form-floating mb-3">
                        <textarea class="form-control" id="comment" name="companyBio" style="height:150px" ></textarea>
                        <label for="comment">Company Biography</label>
                    </div>



                    <div class="input-box mb-3" >
                        <label for="password" class="form-label">Enter Password</label>
                        <input type="password" class="form-control" id="password" name="password"  placeholder="Enter password"  required>
                    </div>

                    <div class="input-box mb-3" >
                        <label for="cpassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword"  placeholder="Enter confirm password" required>
                        <br>
                        <span id="password-match"></span>
                    </div>

                    <div class="form-btn" style="text-align:center">
                        <button type="reset" class="btn btn-primary" id="resetbtn">Clear</button>
                        <button type="submit" class="btn btn-primary" id="submitbtn">Register</button>
                    </div>

                    <div style="text-align:center;font-size:14px">
                        <p>By signing up, you agree to our <a href="/termsandconditions" style="text-decoration:none;">terms and conditions.</a></p>
                        <p>Go to <a href="/user-signup" style="text-decoration:none">User Sign up</a></p>
                    </div>

                </form>

<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/termsandconditions">Terms and Conditions</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>


<script>
    $(document).ready(function() {
        $('form').submit(function(event) {
            var password = $('#password').val();
            var cpassword = $('#cpassword').val();
            if (password != cpassword) {
                event.preventDefault();
                $('#password-match').text('Passwords don\'t match');
            } else {
                $('#password-match').text('Passwords match');
            }
        });
    });
</script>
<script>
    const form = document.getElementById('exampleModal');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        // Perform account signup logic here

        // Show success message
        const alert = document.querySelector('.alert-success');
        alert.classList.remove('d-none');
        alert.classList.add('fade', 'show');

        // Reset form fields
        form.reset();

        // Hide success message after 3 seconds
        setTimeout(function() {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(function() {
                alert.classList.add('d-none');
            }, 500);
        }, 5000);
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>


   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body{
            overflow-x: hidden;
        }
        a{
            color: black;
        }
        a:hover{
            color: #cfd2d6;
        }
    </style>


</head>

<body>

<nav class="navbar navbar-inverse" style="background-color: #111111" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white;font-family: fantasy">EntranceX</a>
        </div>

        <form class="navbar-form navbar-right" >
            <button type="submit" class="btn" style="background-color:#111111;color:#dddddd" ><a href="/" style="text-decoration: none;color:#ffffff">Home</a></button>
            <button type="submit" class="btn btn-default"><a href="/" style="text-decoration: none;color:#111111">Back</a></button>
        </form>
    </div>
</nav>

<div class="container mx-auto" style="margin:40px;width:750px;display:block;margin-left:270px;border:1px solid;padding:0">
<div class="jumbotron text-center" style="background: black;font-size:30px;border-radius:0">
    <h2 style="color:white" >Welcome from Extrance-X</h2>
    <br>
    <h3 style="color:white">Sign Up as Organizer !</h3>
</div>

<form class="form-horizontal" th:method="post">
    <div class="form-group">
        <label class="control-label col-sm-5" for="organizerName">User Name:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="organizerName" name="userName" required>
        </div>
    </div>
    <br>
    <div class="from-group">
        <label class="control-label col-sm-5" for="userEmail">User Email</label>
        <div class="col-xs-3">
            <input type="tel" id="userEmail" name="organizerEmail" placeholder="09-1234567" required>
        </div>
    </div>
    <br>
    <div class="from-group">
        <label class="control-label col-sm-5" for="organizerPhone">Enter a phone number (Organizer):</label>
        <div class="col-xs-3">
            <input type="tel" id="organizerPhone" name="organizerPhone" placeholder="09-1234567" required>
        </div>
    </div>
    <br>
    <br><br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="companyName">Company Name:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="companyName" name="companyName" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="companyEmail">Company Email:</label>
        <div class="col-xs-3">
            <input type="email" class="form-control" id="companyEmail" name="companyEmail" required>
        </div>
    </div>
    <br>
    <div class="from-group">
        <label class="control-label col-sm-5" for="companyPhone">Enter a phone number (Company):</label>
        <div class="col-xs-3">
            <input type="tel" id="companyPhone" name="companyPhone" placeholder="09-1234567" required>
        </div>
    </div>
    <br>
    <br><br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="companyAddress">Company Address:</label>
        <div class="col-xs-3">
            <textarea class="form-control rows=5" id="companyAddress" name="companyAddress" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" for="companyBio">Company Biography:</label>
        <div class="col-xs-3">
        <textarea class="form-control" rows="5" id="companyBio" name="companyBio"></textarea>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="password">Password:</label>
        <div class="col-xs-3">
            <input type="password" class="form-control" id="password"  name="password" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="cpassword">Confirm Password:</label>
        <div class="col-xs-3">
            <input type="password" class="form-control" id="cpassword"  name="cpassword" required>
            <br>
            <span id="password-match"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" for="status"></label>
        <div class="col-xs-3">
            <input type="hidden" class="form-control" id="status"  name="status" value="0">
        </div>
    </div>
    <ul class="pager">
        <li>
            <button type="submit" class="btn" style="background-color:#111111;color:#dddddd">Sign In</button>
        </li>
    </ul>
</form>
    <ul class="pager">
        <li>
            <button type="submit" class="btn" style="background-color:#ffffff;color:#dddddd"><a href="/">Back</a></button>
        </li>
    </ul>
    <ul class="pager">
        <p>By signing up, you agree to our <a href="/termsandcondition">terms and conditions.</a></p>
    </ul>
</div>
<script>
    $(document).ready(function() {
        $('form').submit(function(event) {
            var password = $('#password').val();
            var cpassword = $('#cpassword').val();
            if (password != cpassword) {
                event.preventDefault();
                $('#password-match').text('Passwords don\'t match');
            } else {
                $('#password-match').text('Passwords match');
            }
        });
    });
</script>
</body>
</html>  -->