<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/eventFormStyle.css">
    <title>User Profile</title>

    <style>
        html body{
            background: linear-gradient(to left, #46c8ce, #2da3ff, blue);
        }
    </style>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="css/exlogotest3.png"  alt=""> Entrance-X</a>
        <div class="navlistright" >
            <ul class="navlist mx-auto">
                <!-- <li class="navlist1">
                     <form class="d-flex" role="search">
                         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                         <button class="btn btn-light" type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                     </form>
                 </li> -->
                <li class="navlist1"><a class="navlist2" href="/">HOME</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/login}">LogIn</a></li>
                <li class="navlist1"><a class="navlist2" th:href="@{/user-signup}">SIGN-UP</a></li>
            </ul>


            <button id="explore-btn" class="btn btn-primary justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title mx-auto" id="offcanvasRightLabel">Menu</h4>

                </div>

                <div class="offcanvas-body">
                    <div class="container">
                        <ul>

                            <li><a class="text:white">Events
                            </a>
                                <ul>
                                    <li><a href="/main-trending">Trending</a></li>
                                    <li><a href="/main-this-month">This month</a></li>
                                    <li><a href="/main-upcoming">Upcoming</a></li>
                                    <li><a href="/main-promotion">Promotion</a></li>
                                </ul>
                            </li>
                            <li><a  th:href="@{/user-signup}">Sign-Up</a></li>
                            <li><a  th:href="@{/login}">Log-In</a></li>
                            <li><a  href="/about">About</a></li>
                            <li><a  href="/faq">FAQ</a></li>
                            <li><a  href="/contact">Contact</a></li>
                            <li><a  href="/termsandconditions">Terms and Conditions</a></li>
                            <li><a  href="/privacypolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log-Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5 style="color: rgb(127, 209, 131);">Are you sure want to log out !</h5>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;" aria-label="Close">No</button>
                <span>
                    <a href="/sign-out">
                        <button type="submit" class="btn btn-success col-md-2" data-bs-dismiss="modal" style="height: 40px;width: 55px;">Yes</button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="event-div col-md-6 mx-auto">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h4>User Account Sign Up</h4>
            </div>
            <div class="panel-body">
                <form method="post" th:method="post" id="signup-form">


                    <div class="input-box mb-3" >
                        <label for="userName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter username" required>
                    </div>


                    <div class="ticket-box">
                        <h5>Gender</h5>
                        <div class="ticket-type">
                            <div class="ticket form-check mb-3">
                                <input class="form-check-input" type="radio" value="Male" id="male" name="gender" >
                                <label class="form-check-label" for="male"  >
                                    Male
                                </label>
                            </div>
                            <div class="ticket form-check mb-3">
                                <input class="form-check-input" type="radio" value="Female" id="female" name="gender" >
                                <label class="form-check-label" for="female">
                                    Female
                                </label>
                            </div>

                            <div class="ticket form-check mb-3">
                                <input class="form-check-input" type="radio" value="Custom" id="custom" name="gender" >
                                <label class="form-check-label" for="custom">
                                    Custom
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="input-box mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone no" required>
                    </div>

                    <div class="input-box mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    </div>


                    <div class="input-box mb-3" >
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    </div>

                    <div class="input-box mb-3" >
                        <label for="password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Enter confirm password" required>
                        <br>
                        <span id="password-match"></span>
                    </div>


                    <div class="form-btn" style="text-align:center">
                        <button type="reset" class="btn btn-primary" id="resetbtn">Clear</button>
                        <button type="submit" class="btn btn-primary" id="submitbtn">Create</button>
                    </div>
                    <div>
                        <p>By signing up, you agree to our <a href="/termsandconditions">terms and conditions.</a></p>
                       <p><a th:href="@{/org-signup}">Go to Organizer Sign Up</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">

        <img src="css/exlogotest3.png"  alt="logo">
        <p>ENTRANCEX</p>


        <ul class="social">
            <li><a href="" ><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" ><i class="fa-brands fa-twitter" style="display:none"></i></a></li>


        </ul>



        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/termsandconditions">Terms and Conditions</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&#169 2023 EntranceX. ALL RIGHTS RESERVED.</p>
        </div>
    </div>


</footer>


<script>
    $(document).ready(function() {
        $('form').submit(function(event) {
            var password = $('#password').val();
            var cpassword = $('#cpassword').val();
            if (password != cpassword) {
                event.preventDefault();
                $('#password-match').text('Passwords don\'t match');
            } else {
                $('#password-match').text('Passwords match');
            }
        });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>

   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body{

            overflow-x: hidden;
        }
        a{
            color: black;
        }
        a:hover{
            color: #cfd2d6;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-inverse" style="background-color: #111111" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="color: white;font-family: fantasy">EntranceX</a>
        </div>

        <form class="navbar-form navbar-right" action="">
            <button type="submit" class="btn" style="background-color:#111111;color:#dddddd" ><a href="/" style="text-decoration: none;color:#ffffff">Home</a></button>
            <button type="submit" class="btn btn-default"><a href="/" style="text-decoration: none;color:#111111">Back</a></button>
        </form>
    </div>
</nav>

<div class="container mx-auto" style="margin:40px;width:750px;display:block;margin-left:270px;border:2px solid;padding:0">
    <div class="jumbotron text-center" style="background: black;font-size:30px;border-radius:0">
    <h2 style="color:white">Welcome from Extrance-X</h2>
    <br>
    <h3 style="color:white">Please User Sign Up !</h3>
</div>


<form class="form-horizontal" th:method="post" id="signup-form">


    <div class="form-group">
        <label class="control-label col-sm-5" for="userName">Username:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="userName" name="userName" required>
        </div>
    </div>
    <br>

    <div class="from-group">
        <label class="control-label col-sm-5">Gender:</label>

        <label class="radio-inline">
            <div class="col-xs-3">
            <input type="radio" name="gender" value="Male">Male
            </div>
        </label>
        <label class="radio-inline">
            <div class="col-xs-3">
            <input type="radio" id="male" name="gender" value="Female">Female
            </div>
        </label>
        <label class="radio-inline">
            <div class="col-xs-3">
            <input type="radio" id="female" name="gender" value="Custom">Custom
            </div>
        </label>

    </div>
    <br>
    <br>
    <div class="from-group">
    <label class="control-label col-sm-5" for="phone">Enter a phone number:</label>
        <div class="col-xs-3">
    <input type="tel" id="phone" name="phone" placeholder="09777159554" required>
        </div>
    </div>
    <br><br><br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="email">Email:</label>
        <div class="col-xs-3">
            <input type="email" class="form-control" id="email"  name="email" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="password">Password:</label>
        <div class="col-xs-3">
            <input type="password" class="form-control" id="password"  name="password" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-5" for="cpassword">Confirm Password:</label>
        <div class="col-xs-3">
            <input type="password" class="form-control" id="cpassword"  name="cpassword" required>
            <br>
            <span id="password-match"></span>
            <br>
            <br>
            <a th:href="@{/org-signup}">Sign-Up for Organizer!</a>
        </div>
    </div>
    <br>
    <ul class="pager">
        <li>
            <button type="submit" class="btn" style="background-color:#111111;color:#dddddd">Create</button>
        </li>
    </ul>
    </form>
    <ul class="pager">
        <li>
            <button type="submit" class="btn" style="background-color:#ffffff;color:#dddddd"><a href="/">Back</a></button>
        </li>
    </ul>
    <ul class="pager">
        <p>By signing up, you agree to our <a href="/termsandcondition">terms and conditions.</a></p>
    </ul>
</div>
<script>
    $(document).ready(function() {
        $('form').submit(function(event) {
            var password = $('#password').val();
            var cpassword = $('#cpassword').val();
            if (password != cpassword) {
                event.preventDefault();
                $('#password-match').text('Passwords don\'t match');
            } else {
                $('#password-match').text('Passwords match');
            }
        });
    });
</script> -->
